
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f0131e, #ffffff, #f0131e);
    /* Colores utilizados en el degradado: rojo (#f0131e) - blanco (#ffffff) - rojo (#f0131e) */
    text-align: center;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pregunta {
    margin-bottom: 20px;
}

.pregunta p,
.respuestas-container label {
    text-align: justify;
}

.respuestas-container {
    margin-top: 10px;
}

.respuestas-container div {
    margin-bottom: 10px;
}

button {
    background-color: #f1303a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    background-color: #F0131E;
}

.feedback {
    text-align: center;
    margin-top: 20px;
}

.feedback p {
    font-weight: bold;
    margin-bottom: 10px;
}

.correcto {
    color: #4caf50;
}

.incorrecto {
    color: #f44336;
}

#puntuacion-final {
    text-align: center;
    margin-top: 20px;
}

#puntuacion-final p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#puntuacion-final button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#puntuacion-final button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    background-color: #f0131e;
    color: white;
    display: inline-block;
    padding: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Añade esta línea para centrar horizontalmente */
    max-width: 80%; /* Ajusta el ancho máximo según tus preferencias */
}





#app p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: #f0131e; /* Cambia el color del borde al pasar el ratón o cuando está enfocado */
}

/* Personaliza la apariencia del botón desplegable */
select::-ms-expand {
    display: none;
}

/* Personaliza las flechas del botón desplegable en navegadores WebKit */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./../assets/images/arrow-down.png'); /* Puedes utilizar tu propia imagen de flecha */
    background-size: 30px;
    background-position: right 4px center;
    background-repeat: no-repeat;
    width: 230px;
}

select option:hover {
    background-color: #f0131e;
    color: #fff;
}
select option {
    background-color: #f0131e;
    color: #fff;
}

/* Cambia el color de fondo al resaltar las opciones con las teclas de flecha arriba/abajo */
select option:focus {
    background-color: #f0131e;
    color: #fff;
}

/* Estilos adicionales para navegadores específicos */
select option:checked {
    background-color: #f0131e;
    color: #fff;
}