
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pregunta {
    margin-bottom: 20px;
}

.respuestas-container {
    margin-top: 10px;
}

.respuestas-container div {
    margin-bottom: 10px;
}

button {
    background-color: #f1303a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    background-color: #F0131E;
}

.feedback {
    text-align: center;
    margin-top: 20px;
}

.feedback p {
    font-weight: bold;
    margin-bottom: 10px;
}

.correcto {
    color: #4caf50;
}

.incorrecto {
    color: #f44336;
}

#puntuacion-final {
    text-align: center;
    margin-top: 20px;
}

#puntuacion-final p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#puntuacion-final button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#puntuacion-final button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}



#app p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

